:host {
  display: flex;
  justify-content: center;
  margin: 100px 0px;
}

.mat-card-title {
  padding: 3%;
}

.mat-form-field {
  width: 100%;
  min-width: 300px;
}

mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}

.error {
  color: red;
  padding-left: 10px;
}

.button {
  display: flex;
  justify-content: flex-end;
}

#login {
  background-color:rgba(42, 20, 241, 0.863);
  color: white !important;
  margin: 2%;
}

#login:disabled,
button[disabled]{
  background-color: #cccccc;
}
