#addMovie {
  background-color:rgba(42, 20, 241, 0.863);
  color: white !important;
  margin: 2%;
}

mat-form-field {
  margin: 5%;
  padding-left: 15%;
}

.mat-dialog-content {
  overflow-y: hidden !important;
}
